body {
  font-family: arial;
  background-color: #d5e1df;
}
* {
  box-sizing: border-box;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel] {
  width: 100%;
  padding: 15px;
  border: none;
  background: #f1f1f1;
  background-image: url("images/arrow.png");
  background-position:left;
  background-repeat: no-repeat;
}

input[type=date] {
  width: 100%;
  padding: 15px;
  border: none;
  background: #f1f1f1;

}

.submitbutton {
  background: #80ced6;
  color: red;
  border: none;
  width: 100%;
  padding: 16px;
}

input:focus {
  background: #ddd;
  outline: none;
}

.footer {
  bottom: 0;
  width:50%;
  padding:3px;
  margin: auto;
  text-align: center;
  background: #d68880;
}

.mainheader {
  width:50%;
  padding:16px;
  margin:auto;
  background-color:#80ced6;
  text-align: center;
}

.mainpage {
  width:50%;
  padding:16px;
  margin: auto;
  background-color: white;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@media only screen and (max-width: 825px) {
  .mainpage {
    width:100%;

  }
  .mainheader {
    width:100%;
  }

  .mainlogo {
    display: none;
  }

  .footer {
    width: 100%
  }
